[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Displace Gui
Exec=/usr/bin/displacegui %F
Comment=Displace GUI
Icon=/usr/share/
StartupNotify=false
Encoding=UTF-8
Categories=Science;
