.DS_Store
._*.png
debug/
release/
*.pro.user*
*.o
*.so
.vs/
*.dll
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe
*.pdb
*.exp
*.ilk
*.lib
*.stash
*/moc
QMapControl/QMapControl/src/QMapControl/moc/
QMapControl/QMapControl/src/QMapControl/qmapcontrol_resource.rc
QMapControl/QMapControl/src/QMapControl/qmapcontrold_resource.rc
commons/commons_tests/moc/
*/GeneratedFiles/
simulator/displace
/build
/install
*~
Thumbs.db
obj/
tmp/
ui/
qtgui/resources/qrc_qtgui.cpp
docs/html
docs/latex
*.autosave
build-*
