{
   "version": 2,
   "configurePresets": [
     {
       "name": "default",
       "inherits": "vcpkg",
       "environment": {
         "VCPKG_ROOT": "C:/vcpkg-export-20250826-132117"
       },

     "cacheVariables": {
         "CMAKE_TOOLCHAIN_FILE": 
"C:/vcpkg-export-20250826-132117/scripts/buildsystems/vcpkg.cmake",
         "CMAKE_PREFIX_PATH": "C:/Qt/6.8.3/msvc2022_64"
       }

     }
   ]
}
