Source: displace
Section: science
Priority: optional
Maintainer: Federico Fuga <fuga@studiofuga.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://displace-project.org
#Vcs-Git: git://git.debian.org/collab-maint/displace.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/displace.git;a=summary

Package: displace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Displace binaries
 Displace binaries (gui, simulators and tools)

Package: displace-doc
Architecture: all
Description: documentation for displace
 Documentation for displace
