Source: displace
Section: science
Priority: optional
Maintainer: Displace Project Development Team <devel@displace-project.org>
Build-Depends: cmake, debhelper (>= 8.0.0), libsqlite3-dev (>= 3.11.0), libgdal-dev (>= 1.11), libcgal-dev (>= 4.2), libgeographic-dev (>= 1.21), g++ (>= 4.8), qt56base(>= 5.6) | qt5-default(>=5.6), msqlitecpp-dev (>=0.9.4)
Standards-Version: 3.9.4
Homepage: http://displace-project.org
#Vcs-Git: git://git.debian.org/collab-maint/displace.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/displace.git;a=summary

Package: displace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Displace binaries
 Displace binaries (gui, simulators and tools)

