[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Displace Gui
Exec=/usr/bin/displace %F
Comment=Displace Project GUI
Icon=/usr/share/
StartupNotify=false
Encoding=UTF-8
Categories=TextEditor;WordProcessor;Development;GTK;GNOME;
